h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
p {
  font-family: "Source Sans Pro", sans-serif;
  color: #383232; }

body {
  background-color: #f2ebeb; }

input {
  margin: 0 auto;
  margin: 0.25em 5px;
  padding: 0;
  padding: 0.5em;
  border-radius: 6px;
  border: none;
  background-color: #f2ebeb; }

input:focus,
textarea:focus {
  border: none;
  box-shadow: 0;
  outline: none; }

fieldset {
  margin: 0.5em 0;
  padding: 2% 0;
  width: 80%;
  background-color: #d3bebe;
  border-radius: 6px; }

.digitInput {
  margin: 0em 30px; }

.submit {
  margin: 0em 40px; }

.navbar-fixed-top {
  background-color: #383232;
  background-image: none;
  border: 0; }

.navbar-default .navbar-brand {
  text-decoration: none;
  text-shadow: none;
  color: #ef78b7;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1em;
  transition: color 0.5s ease; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus {
  text-decoration: none;
  color: #642f8c;
  border: none; }

.content {
  margin: 0 auto;
  padding: 0;
  padding-top: 80px; }

.subtitle {
  padding-left: 4px;
  font-size: 16px;
  color: #d34a8c;
  font-weight: 300; }

.calculator {
  margin: 0 auto;
  margin: 0 30px; }

form {
  padding-top: 20px; }

.submit input {
  margin: 0.5em 5px;
  padding: 0.5em;
  color: #f2ebeb;
  background-color: #7d4b9d;
  transition: all 0.5s ease;
  box-shadow: 2px 2px #9b7373; }

.submit input:hover {
  background-color: #642f8c;
  box-shadow: 5px 5px #9b7373; }
